body {

    font-family: Arial, sans-serif;
    background-color: rgb(244, 244, 244);
    margin: 0;
    padding: 0;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.searchs{
    width: 300px;
    padding: 10px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.button {
    padding: 10px 15px;
    background-color: #0c94a6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0c94a6;



font-family: "Tahoma", sans-serif;
margin: 0;
padding: 0;
background-color: rgb(240, 244, 248);
color: rgb(51, 51, 51);
direction: rtl;
}

.c {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
text-align: center;
}

h1 {
font-size: 28px;
margin-bottom: 20px;
color: rgb(44, 62, 80);
}

.s {
font-size: 18px;
margin-bottom: 30px;
color: rgb(127, 140, 141);
}

.b {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.a {
background: rgb(255, 255, 255);
border: 1px solid rgb(225, 228, 232);
border-radius: 12px;
width: 260px;
text-align: center;
padding: 20px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.3s, box-shadow 0.3s;
}

.a:hover {
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
transform: scale(1.05);

}

.a img {
max-width: 100%;
height: 60px;
margin-bottom: 20px;
}

.a h3 {
font-size: 20px;
margin-bottom: 10px;
color: rgb(52, 73, 94);
}

.a p {
font-size: 15px;
margin-bottom: 20px;
color: rgb(127, 140, 141);
}

.a button {
background-color:#0c94a6;
color: rgb(255, 255, 255);
border: none;
padding: 12px 25px;
border-radius: 25px;
cursor: pointer;
font-size: 15px;
transition: background-color 0.3s, transform 0.2s;
}

.a button:hover {
background-color: #0c94a6;
transform: scale(1.05);

}

.main-btn{
    color: #fff;
    background-color: #0c94a6;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color:#9932CC ;
    transform: scale(1.1);
}